node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov
.nyc_output/

dist/
build/
out/
lib/
tmp/
temp/
.cache/
.parcel-cache/
.turbo/
.next/
.nuxt/
.svelte-kit/
.vite/

.eslintcache

.env
.env.*

*.tgz

.DS_Store
Thumbs.db

.idea/
.vscode/

log.txt
